*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	--poppins: 'Poppins', sans-serif;
	--merriweather: 'Merriweather', serif;
	--dark-bg-color: #2e2e2f;
	--white-color: #ffffff;
	--dark-color: #333333;
	--light-color: #666666;
	--gray-color: #888888;
}
