*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	--poppins: 'Poppins', sans-serif;
	--merriweather: 'Merriweather', serif;
	--raleway: 'Raleway', sans-serif;
	--dark-bg-color: #2e2e2f;
	--brown-bg-color: #af943e;
	--white-color: #ffffff;
	--dark-color: #333333;
	--light-color: #666666;
	--gray-color: #888888;
}

.container{
	max-width: 80%;
	margin: auto;
}

a{
	text-decoration: none;
}

li{
	list-style: none;
}

i{
	color: var(--white-color);
}

.btn{
	background-color: var(--brown-bg-color);
	color: var(--white-color);
	text-transform: uppercase;
	font-weight: 400;
	font-family: var(--poppins);
	padding: .5em 1em;
	display: inline-block;
}

nav{
	display: none;
}

.show-desktop{
	display: none;
}
.navigation{
	padding: 1.5em 0 1em 0;
	.container{
		display: flex;
		justify-content: space-between;
		align-items: center;
		.logo{
			width: 50%;
		}
		#burger-menu{
			color: var(--dark-color);
		}
	}
}

.navbar{
	width: 80%;
	height: 100vh;
	background-color: var(--dark-bg-color);
	position: absolute;
	top: 0;
	right: 0;
	z-index: 999;
	.fa-times-circle{
		float: right;
		padding: 1.2em;
	}
	.navigation-bar{
		padding: 6em 0 0 2em;
		li{
			padding: 2em;
			a{
				color: var(--white-color);
				font-family: var(--poppins);
				font-weight: 300;
			}
		}
	}
}

nav.show-menu{
	display: block;
	animation: burger 0.8s ease-in;
}

@keyframes burger {
	from {
	  transform: translateX(100%);
	}
	to {
	  transform: translateY(0%);
	}
  }

.hero-section{
	text-align: center;
	.container{
		position: relative;
		max-width: 100%;
	}
	img{
		width: 100%;
		height: 300px;
		object-fit: cover;
	}
	.main-text{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		h1{
			font-family: var(--poppins);
			font-weight: 400;
			text-transform: uppercase;
			color: var(--dark-color);
			font-size: 2rem;
		}
		p{
			font-family: var(--merriweather);
			font-weight: 400;
			color: var(--dark-color);
			padding: 1em 0;
		}
	}
}

.our-services{
	text-align: center;
	padding: 3em 0 8em 0;
	.container{
		h2{
			color: var(--dark-color);
			line-height: 33px;
			font-weight: 400;
			font-family: var(--poppins);
			text-transform: uppercase;
		}
		p{
			color: var(--light-color);
			font-family: var(--merriweather);
			font-weight: 400;
			padding: 1em 0 3em 0;
		}
		.services-box{
			.box{
				position: relative;
				padding: 1em 0;
				.box-text{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					img{
						width: 40px;
						padding-top: 2em;
					}
					p{
						color: var(--white-color);
						font-family: var(--poppins);
						font-weight: 500;
						text-transform: uppercase;
					}
				}
			}
		}
	}
}

.our-story{
	text-align: center;
	.container{
		img{
			width: 80%;
		}
		.story-text{
			h2{
				color: var(--dark-color);
				font-weight: 700;
				text-transform: uppercase;
				font-family: var(--poppins);
				line-height: 52px;
				padding: 1em 0;
			}
			.first-text{
				color: var(--light-color);
				font-size: 1rem;
				font-family: var(--merriweather);
				line-height: 30px;
				padding-bottom: 2em;
			}
			.second-text{
				color: var(--light-color);
				font-size: 14px;
				font-family: var(--poppins);
				line-height: 24px;
				padding-bottom: 5em;
			}
		}
	}
}

.testimonials{
	text-align: center;
	background-color: var(--dark-bg-color);
	position: relative;
	height: 400px;
	.container{
		img{
			width: 300px;
			opacity: .2;
			position: absolute;
			left: 50%;
			transform: translate(-50%);
		}
		.testimonials-box{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			h2{
				color: var(--white-color);
				font-family: var(--poppins);
				line-height: 28px;
				text-transform: uppercase;
				font-weight: 500;
			}
			p{
				color: var(--white-color);
				font-family: var(--merriweather);
				line-height: 30px;
				font-weight: 300;
				padding: 2em 0;
				font-size: 12px;
			}
			a{
				color: var(--white-color);
				font-family: var(--poppins);
				line-height: 33px;
				text-transform: uppercase;
				font-weight: 400;
			}
		}
	}
}

.the-clients{
	text-align: center;
	padding-top: 3em;
	.container{
		h2{
			color: var(--dark-color);
			font-family: var(--poppins);
			line-height: 33px;
			text-transform: uppercase;
		}
		p{
			color: var(--light-color);
			font-family: var(--merriweather);
			line-height: 30px;
			font-weight: 400;
			padding: 1em 0 3em 0;
		}
		.clients-box{
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-bottom: 5em;
			img{
				padding: 2em 0 32px 0;
			}
		}
	}
}

footer{
	text-align: center;
	.main-footer{
		padding: 30px 0;
		background-color: #181b1a;
		p{
			color: var(--gray-color);
			font-family: var(--poppins);
			line-height: 26px;
			font-weight: 300;
			padding-top: 16px;
		}
		.footer-socials{
			display: flex;
			align-items: center;
			justify-content: center;
			li{
				margin: 2em 2em 2em 0;
				border: 1px solid var(--brown-bg-color);
				border-radius: 50%;
				i{
					padding: 11px;
				}
			}
		}
		.more-links{
			padding-top: 32px;
			h3{
				color: var(--white-color);
				font-family: var(--poppins);
				line-height: 33px;
				text-transform: uppercase;
				font-weight: 400;
			}
			.footer-links{
				padding: 1em 0;
				li{
					padding: 2px;
					a{
						color: var(--light-color);
						font-family: var(--poppins);
						line-height: 36px;
						font-weight: 300;
						
					}
				}
			}
		}
			.our-address{
				h3{
					color: var(--white-color);
					font-family: var(--poppins);
					text-transform: uppercase;
					font-weight: 400;
				}
				.our-adress-links{
					padding: 1em 0 0 0;
					li{
						padding: .6em 0;
						a{
							color: var(--light-color);
							font-family: var(--poppins);
							line-height: 36px;
							font-weight: 300;
						}
					}
				}
		}
	}
	.copyright{
		background-color: #141516;
		p{
			font-family: var(--poppins);
			font-weight: 300;
			color: var(--white-color);
			padding: 1em;
			line-height: 30px;
		}

	}
}

@media only screen and (min-width: 1200px){
	.show-desktop{
		display: block;
	}
	#burger-menu, #burger-menu-exit{
		display: none;
	}
	.container{
		max-width: 57%;
		margin: auto;
	}
	nav{
		display: block;
	}
	.contact-header{
		max-width: 100%;
		background-color: var(--dark-bg-color);
		padding: .7em 0;
		.container{
			display: flex;
			justify-content: space-between;
			align-items: center;
		.contact-head{
			display: flex;
			.contact-phone{
				padding-right: 2.7em;
			}
			a{
				color: white;
				font-family: var(--poppins);
				padding: 0 .5em;
				font-size: 12px;
			}
			
		}
		.socials-head{
			display: flex;
			align-items: center;
			p{
				color: white;
				padding-left: .6em;
				font-family: var(--raleway);
				font-size: 12px;
			}
			ul{
				display: flex;
				li{		
					a{
						padding-left: 23px;
					}
					
				}
			}
		}
	}
	}
	.navigation{
		margin-bottom: 5px;
		.container{
			display: flex;
			align-items: center;
			justify-content: space-between;
			.logo{
				width: 260px;
			}
			.navbar{
				padding: 0;
				background-color: unset;
				width: unset;
				height: unset;
				position: static;
				.navigation-bar{
					display: flex;
					padding: unset;
					li{
						padding: 12px 0 0 30px;
						a{
							color: var(--dark-color);
							font-size: 16px;
							font-weight: 500;
							text-transform: uppercase;
							font-family: "Poppins";
							line-height: 33px;
							i{
								color: var(--dark-color);
								padding-left: .5em
							}
						}
						.active::after{							
								content: "";
								display: block;
								width: 35px;
								height: 3px;
								background: var(--brown-bg-color);
								margin-top: 8px;
								margin-left: 6px;
						}
					}
					
				}
			}
		}
	}
	.hero-section{
		text-align: left;
		img{
			height: 772px;
		}
		.main-text{
			left: 38.7%;
			h1{
				font-size: 60px;
				margin-top: -46px;
				font-weight: 600;
				letter-spacing: 0.4px;
			}
			h1::after{							
				content: "";
				display: block;
				width: 50px;
				height: 2px;
				background: var(--brown-bg-color);
				margin: 8px 0 0 7px;
		}
			p{
				margin-top: 30px;
				font-size: 18px;
				line-height: 30px;
				padding: unset;
				letter-spacing: .1px;
			}
			a{
				font-size: 14px;
				padding: 14px 36px;
				margin: 32px 0 0 5px;
			}
		}
	}
	.our-services{
		padding: 100px 0 256px 0;
		.container{
			h2{
				font-size: 36px;
				font-weight: 600;
			}
			h2::after{							
				content: "";
				display: block;
				width: 40px;
				height: 2px;
				background: var(--brown-bg-color);
				margin: 20px 0 0 522px;
		}
			p{
				padding: 21px 0 98px 0;
			}
			.services-box{
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: space-between;
				.box{
					.box-text{
						img{
							margin: 60px 0 -14px 0;
							width: 80px;
							height: 80px;
						}
						p{
							font-size: 18px;
						}
					}
				}
			}
		}
	}
	.our-story{
		padding-bottom: 147px;
		.container{
			display: flex;
			justify-content: space-between;
			align-items: center;
			.story-img::after{
				content: "";
				display: block;
				border: 2px solid var(--brown-bg-color);
				height: 480px;
				margin-top: -468px;
				margin-right: -26px;
				margin-left: 24px;
			}
			img{
				width: 440px;
				height: 488px;
			}
		}
		.story-text{
			text-align: left;
			margin-left: 112px;
			margin-top: 67px;
			h2{
				font-size: 36px;
			}
			h2::after{							
				content: "";
				display: block;
				width: 38px;
				height: 3px;
				background: var(--brown-bg-color);
				margin: 8px 0 0 7px;
		}
			.first-text{
				margin-top: -18px;
				font-size: 16px;
			}
			.second-text{
				font-size: 14px;
				margin-top: -20px;
			}
		}
	}
	.testimonials{
		height: 521px;
		overflow: hidden;
		.container{
			
			img{
				right: 0;
				top: 0;
				transform: translate(65%);
				width: 568px;
				height: 526px;
			}
			.testimonials-box{
				padding: 76px 140px;
				width: 1088px;
				border: 1px solid var(--brown-bg-color);
				h2{
					font-size: 36px;
					margin-top: -26px;
					padding-bottom: 26px;
				}
				h2::after{							
					content: "";
					display: block;
					width: 40px;
					height: 2px;
					background: var(--brown-bg-color);
					margin: 20px 0 0 380px;
			}
				p{
					font-size: 16px;
					padding: 2px 0 22px 0;
					letter-spacing: -.2px;
				}
				a{
					font-size: 14px;
				}
			}
		}
	}
	.the-clients{
		padding-top: 96px;
		padding-bottom: 13px;
		.container{
			h2{
				font-size: 36px;
			}
			h2::after{							
				content: "";
				display: block;
				width: 40px;
				height: 2px;
				background: var(--brown-bg-color);
				margin: 20px 0 0 520px;
		}
			p{
				font-size: 18px;
				padding-top: 18px;
				letter-spacing: -1px;
			}
			.clients-box{
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				flex-wrap: wrap;
				margin-bottom: 1.5em;
				img{
					margin: 36px 3.5em 3px 3.5em;
				}
			}
		}
	}
	footer{
		.main-footer{
			text-align: left;
			padding: 135px 0 105px 0;
			.container{
				display: flex;
				justify-content: flex-start;
				align-items: center;
				img{
					margin-top: 22px;
				}
				p{
					width: 350px;
					padding: 2px 0 12px 0;
					margin-top: 12px;
					font-size: 13px;
				}
				.footer-socials{
					display: flex;
					justify-content: left;
					li{
						margin: 10px 10px 0 0;
					}
				}
				.more-links{
					margin: 0 7em;
					padding-top: 34px;
					h3{
						font-size: 18px;
						margin-bottom: 0px;
						line-height: 43px;
					}
					h3::after{							
						content: "";
						display: block;
						width: 40px;
						height: 2px;
						background: var(--brown-bg-color);
						margin: 8px 0 0 0px;
				}
					.footer-links{
						li{
							padding: 0 0;							
							a{
								font-size: 14px;
							}
							i{
								margin-right: 2em;
							}
						}
					}
				}
				.our-address{
					padding-top: 20px;
					margin-left: 52px;
					h3{
						font-size: 18px;
						margin-bottom: 6px;
					}
					h3::after{							
						content: "";
						display: block;
						width: 40px;
						height: 2px;
						background: var(--brown-bg-color);
						margin: 8px 0 0 0px;
				}
					.our-adress-links{
						li{
							padding: 0 0;
							i{
								margin-right: 16px;
							}
						}
						.first-li{
							margin-left: 28px;
						}
					}
				}
			}
		}
	}
	.copyright{
		p{
			font-size: 14px;
		}
	}
}